* {
    padding: 0;
    margin: 0;
}

body {
   background-color: #080528;
   font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 1024px;
    height: 940px;
    margin: 0 auto;
}

#topo {
    width: 1024px;
    height: 260px;
    background: #ffffff;
    border: 1px dotted #000000;
    border-bottom: none;
   
}

#navbar {
    background: #fff;
    height: 47px;
    border: 1px solid #080528;
    border-radius: 5px;
    
}

#navbar a {
    color: #000;
    padding: 15px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 43px;
   }

   #navbar a {
    border-right: 1px solid black;
   }

   #navbar a.right {
       float: right;
       border: none;
       line-height: 22px;
       text-transform: none;
       font-size: 14px;
       padding: 10px;
   }

   
   .logo {
       text-indent: -3000px;
       width: 1024px;
       height: 300px;
       margin: 0 auto;
       background: url(imagens/logo2.png) #080528 center no-repeat;
       top: 0;
       left: 0;
   }

   #conteudo-esquerdo {
       float: left;
      
       
   }

  

   #conteudo-direito {
       float: right;
       width: 840px;
       height: 650px;

       background-color: #fff;
       border-radius: 5px;
       margin-bottom: 15px;
   }

   #conteudo-esquerdo, #conteudo-direito {
       margin-top: 10px;
   }

    #foto {
        background: #fff;
        border-radius: 5px;
        width: 165px;
        height: 210px;
        
}

    #perfil {
        padding-top: 15px;
        margin-left: 13px;
        margin-top: -3px;
        
        /*
        width: 140px;
        height: 180px;
        background-image: url(imagens/perfil2.JPG)  ; */
    }

    #submenu {
        margin-top: 15px;
        border: 1px solid #fff;
        border-radius: 5px;
}

    #submenu a {
        text-decoration: none;
        color: #000;
        background: #fff;
        display: block;
        padding: 10px;
        margin: -2px;
        border: 1px solid #000;
        border-radius: 7%;
    }

    #submenu a:hover {
       background: #bdbdbd;
    }

    #submenu ul li {
        list-style: none;
        padding: 5px 0;
        text-align: center;
    }

   footer {
        clear: both;
        
        width: 1024px;
        height: 30px;
        background-color: #fff;
        color: #000;
        margin: 0 auto;
        text-align: center;
        line-height: 28px;
        border-radius: 5px
    }

    #sm h2 {
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: #080528;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    #sm p {
        font-size: 16px;
        padding: 5px 0 5px 5px;
    }